﻿@model DiffPrototype.Models.ViewModels.AddContractViewModel

@{
    ViewData["Title"] = "AddContract";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using DiffPrototype.Models.Enums
<h2>AddContract</h2>

<h4>AddContractViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddContract" enctype = "multipart/form-data">
            @Html.HiddenFor(model => model.PartnerId)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VAT" class="control-label"></label>
                <input asp-for="VAT" class="form-control" />
                <span asp-validation-for="VAT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentDate" class="control-label"></label>
                <input asp-for="PaymentDate" class="form-control" />
                <span asp-validation-for="PaymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfidentalInformation" class="control-label"></label>
                <input asp-for="ConfidentalInformation" class="form-control" />
                <span asp-validation-for="ConfidentalInformation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TEnum" class="control-label"></label>
                @Html.DropDownList("Type", new SelectList(Enum.GetValues(typeof(TestEnum))), htmlAttributes: new { @class = "form-control" })
                <span asp-validation-for="TEnum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileData" class="control-label"></label>
                <input asp-for="FileData" type="file"/>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="TestBoolFieldTwo" /> @Html.DisplayNameFor(model => model.TestBoolFieldTwo)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PartnerName" class="control-label"></label>
                @Html.DisplayFor(model => model.PartnerName)
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
