﻿@model List<DiffPrototype.Data.Entities.ContractFieldChange>
@{
    ViewData["Title"] = "ChangeLog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ChangeLog</h2>

@foreach (var change in Model)
{
    <table class="table" id="orders">
        <thead>
            <tr>
                <th><h3>@Html.DisplayNameFor(model => change.ContractChange)</h3></th>
                <th><h3>@Html.DisplayFor(model => change.ContractChange.Creator)</h3></th>
                <th><h3>@Html.DisplayFor(model => change.ContractChange.CreatedAt)</h3></th>
            </tr>
        </thead>
        <tbody>
            <table class="table" id="orderItems">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => change.CreatedAt) </th>
                        <th>@Html.DisplayNameFor(model => change.AtStep) </th>
                        <th>@Html.DisplayNameFor(model => change.Field) </th>
                        <th>@Html.DisplayNameFor(model => change.OldValue) </th>
                        <th>@Html.DisplayNameFor(model => change.NewValue) </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Html.DisplayFor(model => change.CreatedAt)</td>
                        <td>@Html.DisplayFor(model => change.AtStep)</td>
                        <td>@Html.DisplayFor(model => change.Field)</td>
                        <td>@Html.DisplayFor(model => change.OldValue)</td>
                        <td>@Html.DisplayFor(model => change.NewValue)</td>
                    </tr>
                </tbody>
            </table>
        </tbody>
    </table>
}