﻿@model DiffPrototype.Models.ViewModels.ContractStepOneViewModel
@{
    ViewData["Title"] = "CotractStepOne";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using DiffPrototype.Models.Enums

<h2>CotractStepOne</h2>
<h4>Contract step one</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ContractStepOne" method="post" enctype="multipart/form-data" id="@Model.ContractId">
            @Html.HiddenFor(model => model.PartnerId)
            @Html.HiddenFor(Model => Model.ContractId)
            @Html.HiddenFor(Model => Model.NextPage)

            <input type="hidden" id="formIdHelper" value="@Model.ContractId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TEnum" class="control-label"></label>
                @Html.DropDownList("TEnum", new SelectList(Enum.GetValues(typeof(TestEnum))), htmlAttributes: new { @class = "form-control" })
                <span asp-validation-for="TEnum" class="text-danger"></span>
                @if (Model.ChangedField?.Count > 0 && Model.ChangedField.Contains(nameof(Model.TEnum)))
                {
                    <span class="text-danger">Filed changed!</span>
                }
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
                @if (Model.ChangedField?.Count > 0 && Model.ChangedField.Contains(nameof(Model.Description)))
                {
                    <span class="text-danger">Filed changed!</span>
                }
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
                @if (Model.ChangedField?.Count > 0 && Model.ChangedField.Contains(nameof(Model.Price)))
                {
                    <span class="text-danger">Filed changed!</span>
                }
            </div>
            <div class="form-group">
                <label asp-for="VAT" class="control-label"></label>
                <input asp-for="VAT" class="form-control" />
                <span asp-validation-for="VAT" class="text-danger"></span>
                @if (Model.ChangedField?.Count > 0 && Model.ChangedField.Contains(nameof(Model.VAT)))
                {
                    <span class="text-danger">Filed changed!</span>
                }
            </div>
            <div class="form-group">
                <label asp-for="PartnerName" class="control-label"></label>
                @Html.DisplayFor(model => model.PartnerName)
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
                <input type="button" value="Next" class="btn btn-primary" id="nextButton" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back</a>
    @if (Model.ChangedStep != null)
    {
        <ul>
            @foreach (var step in Model.ChangedStep)
            {
                <li class="text-danger">Change at @step</li>
            }
        </ul>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            var formId = "#".concat($("#formIdHelper").val());

            $("#nextButton").click(function () {
                $("#NextPage").val(true);
                $(formId).submit();
            });
        });
    </script>
}
