﻿@model DiffPrototype.Models.ViewModels.ContractSummaryViewModel
@{
    ViewData["Title"] = "ContractSummary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ContractSummary</h2>
<h4>Contract summary</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @foreach (var prop in Model.GetType().GetProperties())
        {
            <div class="form-group">
                <label class="control-label">@prop.Name</label>
                <label class="form-control">@prop.GetValue(Model)</label>
            </div>
        }
        <div class="form-group">
            @Html.ActionLink("Send to partner", "SendToPartner",new { @contractId = Model.ContractId }, htmlAttributes: new { @class="btn btn-primary"})
        </div>
    </div>
</div>

