﻿@model DiffPrototype.Models.ViewModels.ContractStepThreeViewModel
@{
    ViewData["Title"] = "ContractStepThree";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ContractStepThree</h2>
<h4>Contract step Three</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ContractStepThree" method="post" enctype="multipart/form-data" id="@Model.ContractId">
            @Html.HiddenFor(model => model.PartnerId)
            @Html.HiddenFor(Model => Model.ContractId)
            @Html.HiddenFor(Model => Model.NextPage)

            <input type="hidden" id="formIdHelper" value="@Model.ContractId" />
            <div class="form-group">
                <label asp-for="FileName" class="control-label"></label>
                <label class="control-label">@Model.FileName</label>
                @if (Model.ChangedField?.Count > 0 && Model.ChangedField.Contains("FileName"))
                {
                    <span class="text-danger">Filed changed!</span>
                }
            </div>
            <div class="form-group">
                <label asp-for="FileData" class="control-label"></label>
                <input asp-for="FileData" type="file" />
            </div>
            <div class="form-group">
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                    <input type="button" value="Next" class="btn btn-primary" id="nextButton" />
                </div>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back</a>
    @if (Model.ChangedStep != null)
    {
        <ul>
            @foreach (var step in Model.ChangedStep)
            {
                <li class="text-danger">Change at @step</li>
            }
        </ul>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            var formId = "#".concat($("#formIdHelper").val());

            $("#nextButton").click(function () {
                $("#NextPage").val(true);
                $(formId).submit();
            });
        });
    </script>
}
