﻿@model DiffPrototype.Models.ViewModels.ContractStepTwoViewModel
@{
    ViewData["Title"] = "ContractStepTwo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ContractStepTwo</h2>
<h4>Contract step two</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ContractStepTwo" method="post" enctype="multipart/form-data" id="@Model.ContractId">
            @Html.HiddenFor(model => model.PartnerId)
            @Html.HiddenFor(Model => Model.ContractId)
            @Html.HiddenFor(Model => Model.NextPage)

            <input type="hidden" id="formIdHelper" value="@Model.ContractId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PaymentDate" class="control-label"></label>
                <input asp-for="PaymentDate" class="form-control" />
                <span asp-validation-for="PaymentDate" class="text-danger"></span>
                @if (Model.ChangedField?.Count > 0 && Model.ChangedField.Contains(nameof(Model.PaymentDate)))
                {
                    <span class="text-danger">Filed changed!</span>
                }
            </div>
            <div class="form-group">
                <label asp-for="ConfidentaInformation" class="control-label"></label>
                <input asp-for="ConfidentaInformation" class="form-control" />
                <span asp-validation-for="ConfidentaInformation" class="text-danger"></span>
                @if (Model.ChangedField?.Count > 0 && Model.ChangedField.Contains(nameof(Model.ConfidentaInformation)))
                {
                    <span class="text-danger">Filed changed!</span>
                }
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="TestBoolFieldTwo" /> @Html.DisplayNameFor(model => model.TestBoolFieldTwo)
                        @if (Model.ChangedField?.Count > 0 && Model.ChangedField.Contains(nameof(Model.TestBoolFieldTwo)))
                        {
                            <span class="text-danger">Filed changed!</span>
                        }
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
                <input type="button" value="Next" class="btn btn-primary" id="nextButton" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back</a>
    @if (Model.ChangedStep != null)
    {
        <ul>
            @foreach (var step in Model.ChangedStep)
            {
                <li class="text-danger">Change at @step</li>
            }
        </ul>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            var formId = "#".concat($("#formIdHelper").val());

            $("#nextButton").click(function () {
                $("#NextPage").val(true);
                $(formId).submit();
            });
        });
    </script>
}