﻿@model DiffPrototype.Models.ViewModels.ContractsViewModel

@{
    ViewData["Title"] = "Contracts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using DiffPrototype.Models.Enums
@using DiffPrototype.Controllers
<h2>Contracts</h2>

<table class="table">
    <thead>
        <tr>
            @foreach (var contractprop in Model.TrustContracts.FirstOrDefault().GetType().GetProperties())
            {
                <th>
                    @contractprop.Name
                </th>
            }
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contract in Model.TrustContracts)
        {
        <tr>
            @foreach (var value in contract.GetType().GetProperties())
            {
                <td>
                    @value.GetValue(contract)
                </td>
            }
            @if(contract.Changes?.Count>0)
            {
                <td>
                    @Html.ActionLink("Change log", "ChangeLog",new  {@id=contract.Id }, new { @class="btn btn-success"})
                </td>
            }
            <td>
                @if ((contract.Partner.UserName == User.Identity.Name && contract.Status == ContractStatus.AtPartner)
                    || (contract.Creator.UserName == User.Identity.Name && contract.Status == ContractStatus.AtCreator))
                {
                    @Html.ActionLink("View Contract",nameof(HomeController.EditContract),"Home",new { @id = contract.Id}, new { @class="btn btn-primary"})
                }
            </td>
        </tr>
        }
    </tbody>
</table>
