﻿@model DiffPrototype.Models.ViewModels.EditContractViewModel

@{
    ViewData["Title"] = "EditContract";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using DiffPrototype.Models.Enums
<h2>EditContract</h2>

<h4>EditContractViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditContract" method="post" enctype = "multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(m => m.ContractId);
            <div class="form-group">
                <label asp-for="PartnerId" class="control-label"></label>
                <input asp-for="PartnerId" class="form-control" readonly />
                <span asp-validation-for="PartnerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartnerName" class="control-label"></label>
                <input asp-for="PartnerName" class="form-control" readonly />
                <span asp-validation-for="PartnerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VAT" class="control-label"></label>
                <input asp-for="VAT" class="form-control" />
                <span asp-validation-for="VAT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentDate" class="control-label"></label>
                <input asp-for="PaymentDate" class="form-control" />
                <span asp-validation-for="PaymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfidentalInformation" class="control-label"></label>
                <input asp-for="ConfidentalInformation" class="form-control" />
                <span asp-validation-for="ConfidentalInformation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" readonly />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" readonly />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileDataForm" class="control-label"></label>
                <input asp-for="FileDataForm" type="file" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="TEnum" class="control-label"></label>
                @Html.DropDownList("TEnum", new SelectList(Enum.GetValues(typeof(TestEnum))), htmlAttributes: new { @class = "form-control" })
                <span asp-validation-for="TEnum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="TestBoolFieldTwo" /> @Html.DisplayNameFor(model => model.TestBoolFieldTwo)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Send To Partner" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
