﻿@model DiffPrototype.Models.ViewModels.UsersViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h2>Users</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => Model.Users.FirstOrDefault().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => Model.Users.FirstOrDefault().Email)
            </th>
            <th>
                <label>Buy</label>
            </th>
            <th>
                <label>Sell</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => user.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => user.Email)
                </td>
                <td>
                    @Html.ActionLink("Buy", "AddContract", new { @Id = user.Id, @type="Buy" })
                </td>
                <td>
                    @Html.ActionLink("Sell","AddContract",new { @Id = user.Id, @type = "Sell" })
                </td>
                @if((user.CreatedContracts?.Count+user.ParticipatedContracts?.Count)>0)
                {
                    <td>
                        <a href="~/Home/Contracts" class="btn btn-primary pull-right">View Contracts</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>